{% extends "@YarshaAdmin/admin_layout.html.twig" %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <span class="description-percentage text-black"><h3 class="box-title">Today's Record
                            ( {{ "now"|date("F jS, Y") }} )</h3></span>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-2 col-xs-6">
                            <div class="description-block border-right">
                                 <span class="description-percentage text-yellow">
                                     <h1> {{ employer?employer:'N/A' }}</h1></span>
                                <span class="description-text">Registered Employer</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->

                        <div class="col-sm-2 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-red">
                                    <h1> {{ seeker?seeker:'N/A' }}</h1></span>
                                <span class="description-text">Registered Seeker</span>
                            </div>
                            <!-- /.description-block -->
                        </div>

                        <!-- /.col -->
                        <div class="col-sm-2 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-green">
                                    <h1> {{ job?job:'N/A' }}</h1></span>
                                <span class="description-text">Posted Jobs</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <div class="description-block border-right">
                                <span class="description-percentage text-blue">
                                    <h1> {{ applied?applied:'N/A' }}</h1></span>
                                <span class="description-text">Job Applied</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>


    {#<div class="row info-wrap">#}
        {#{{ sonata_block_render({'type':'yarsha.block.job_post'}) }}#}
        {#{{ sonata_block_render({'type':'yarsha.block.total_employers'}) }}#}
        {#{{ sonata_block_render({'type':'yarsha.block.total_seekers'}) }}#}
    {#</div>#}

    <div class="clearfix"></div>


{% endblock content %}
