{{ form_start(form, {'attr':{'id':'addSetting', 'onsubmit':'return submitSetting(this)','data-id':id}}) }}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{#<div class="clearfix"></div>#}

<div class="col-md-6">
    {{ form_row(form.haveLicense) }}
</div>
<div class="col-md-6">
    {{ form_row(form.haveLicenseOf) }}
</div>
<div class="col-md-6 pull-left">
    {{ form_row(form.haveVehicle) }}
</div>
<div class="col-md-6 pull-left">
    {{ form_row(form.vehicleType) }}
</div>


<div class="col-md-4">
    {{ form_row(form.travelForJob) }}
</div>

<div class="col-md-4">
    {{ form_row(form.willingToRelocation) }}
</div>


<div class="col-md-4">
    {{ form_row(form.profile_searchable) }}
</div>
<div class="col-md-4">
    {{ form_row(form.profile_confidential) }}
</div>
<div class="col-md-4">
    {{ form_row(form.job_alert_table) }}
</div>
<div class="col-md-4">
    {{ form_row(form.facebook_alert) }}
</div>

<div class="clearfix"></div>

<div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="SAVE">

    <button type="button" class="btn btn-danger" data-dismiss="modal">
        CANCEL
    </button>
</div>
{{ form_end(form) }}
