{#{% extends "@YarshaMain/EmailTemplates/email_notification_new.html.twig" %}#}

{% block header_right_image %}
    <a href="{{ url('yarsha_job_seeker_profile_detail_view') }}"><img
                src="{{ absolute_url(asset('bundles/yarshamain/images/email/1.jpg')) }}"></a>
{% endblock %}
{% block email_body %}

    {% if employer is not defined %}
        {% set targetUrl = path('yarsha_job_seeker_password-resetting',{'token': token}) %}
    {% else %}
        {% set targetUrl = url %}
    {% endif %}


    <div class="container">
        <div class="row">
            <div class="whole-section" style=" min-height: 250px;
                text-align: center;
                height: auto;
                background-color: rgba(7, 7, 7, 0.09);
                width: 80%;
                margin-left: 8%;
                margin-top: 0%;
                margin-bottom: 5%;
                padding: 20px;"
            >
                <img src="{{ absolute_url(asset('bundles/yarshamain/images/email/logo.png')) }}"
                     style="width: auto; margin-top: 2%;">

                <div class="email-content-section" style="min-height: 250px; text-align: left; height: auto; background-color: white;
                width: 80%; margin-left: 8%; margin-top: 5%; margin-bottom: 5%; padding: 20px;">
                    <section>
                        <div class="email-reset">
                            <span style="margin-left: 10px; font-size: 24px; font-weight: bold;">Dear {{ name|title }},<br><br> </span>
                            {% if message is defined %}
                                <p style="margin-top:10px;font-size: 16px; margin-left: 10px;">{{ message }}</p>
                            {% endif %}
                            <p style="margin-top:10px;font-size: 16px; margin-left: 10px;">It looks like you requested a new password.</p><br/>
                            <p style="margin-top:0px;font-size: 16px; margin-left: 10px;">If that sounds right, You can enter new password by clicking on the button below.</p><br/><br/>
                            <a href="{{ absolute_url(targetUrl) }}">
                                <button style="border-radius: 4px; background-color:#1b3ab3 ; border: none; color: #FFFFFF ; text-align: center; font-size: 18px;
                                padding: 20px; font-weight: bold; width:350px; margin: 5px;"><span>Click Here To Reset Your Password</span></button>
                            </a>

                                {#OR Click the link below.#}
                            <br>
                            {#<a href="{{ absolute_url(targetUrl) }}" style="font-size: 14px; margin-left: 10px;">{{ absolute_url(targetUrl) }}</a>#}
                            <br/><br/>
                            <p style="margin-top:10px;font-size: 16px; margin-left: 10px;">Thank You.</p>

                            <br/></br>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
