{% extends "@YarshaAdmin/admin_layout.html.twig" %}
{% block page_title %} Organization {% endblock %}
{% block page_description %}{{ isUpdating ? 'Edit':'Add' }}{% endblock %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <h4>Details</h4>

                    <div class="row">

                        <div class="col-md-8">{{ form_row(form.organization.name) }}</div>
                        <div class="col-md-4">{{ form_row(form.organization.categoryType) }}</div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">{{ form_row(form.organization.category) }}</div>
                        <div class="col-md-4">{{ form_row(form.organization.industry) }}</div>
                        <div class="col-md-4">{{ form_row(form.organization.ownershipType) }}</div>
                        <div class="clearfix"></div>


                        <div class="col-md-4">{{ form_row(form.organization.phone) }}</div>
                        <div class="col-md-4">{{ form_row(form.organization.website) }}</div>
                        <div class="col-md-4">{{ form_row(form.organization.address) }}</div>
                        <div class="clearfix"></div>


                        <div class="col-md-12">{{ form_row(form.organization.file) }}</div>
                        <div class="clearfix"></div>

                        <div class="col-md-12">{{ form_row(form.organization.profile) }}</div>
                        <div class="clearfix"></div>

                    </div>

                    <h4>Contact Person</h4>

                    <div class="row">
                        <div class="col-md-4">{{ form_row(form.organization_contact_person.designation) }}</div>
                        <div class="col-md-4">{{ form_row(form.organization_contact_person.firstName) }}</div>
                        <div class="col-md-4">{{ form_row(form.organization_contact_person.lastName) }}</div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">{{ form_row(form.organization_contact_person.phone) }}</div>
                        <div class="col-md-4">{{ form_row(form.organization_contact_person.mobile) }}</div>
                        <div class="col-md-4">{{ form_row(form.organization_contact_person.email) }}</div>
                        <div class="clearfix"></div>
                    </div>

                    {% if isUpdating == false %}
                        <h4>Login Credentials</h4>

                        <div class="row">
                            <div class="col-md-4">{{ form_row(form.user_login_credential.username) }}</div>
                            <div class="col-md-4">{{ form_row(form.user_login_credential.password.first) }}</div>
                            <div class="col-md-4">{{ form_row(form.user_login_credential.password.second) }}</div>
                            <div class="clearfix"></div>

                        </div>
                    {% endif %}

                    <input type="submit" value="SAVE" class="btn btn-primary">

                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
