{{ form_start(form,{'attr': {'onsubmit':'return submitAddLocationForm(this)', 'data-id':id}}) }}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="col-md-12">
    {% macro location_prototype(location) %}
        <div class="col-md-11">{{ form_row(location.name) }}</div>
    {% endmacro %}

    <div class="tags"
         data-prototype="{{ _self.location_prototype(form.locations.vars.prototype)|e }}">

        {% for location in form.locations %}
            <div class="col-md-1">
                {{ _self.location_prototype(location) }}
                <a href="#"><i class="fa fa-trash"></i></a>
            </div>
        {% endfor %}
    </div>

</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-primary add-button" value="SAVE">

    <button type="button" class="btn btn-danger add-button" data-dismiss="modal">
        CANCEL
    </button>
</div>
{{ form_end(form) }}

{% block scripts %}
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Add Location</a>');
        var $newLinkLi = $('<div class="col-md-12"></div>').append($addTagLink);


        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div.tags');


            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            addTagForm($collectionHolder, $newLinkLi);


            function addTagForm($collectionHolder, $newLinkLi) {
                console.log('testing');
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');
                console.log(prototype);

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<div class="col-md-12"></div>').append(newForm);
                $newLinkLi.before($newFormLi);
                addTagFormDeleteLink($newFormLi);


            }

            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<a href="#"><i class="fa fa-trash"></i></a>');
                $tagFormLi.append($removeFormA);

                $removeFormA.on('click', function (e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }

        });

        function removeLi(id) {
            $("#delete-" + id).remove();
        }
    </script>
{% endblock %}
