<!DOCTYPE html>
<html>
<head>
    <!-- meta viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- title -->
    <title>Kantipur Jobs - Email Notification</title>
    <!-- stylesheet -->
    <style type="text/css">
        body {
            background: #1899d3;
            margin: 0;
            padding: 0;
        }

        .em-wrapper{
            width: 600px;
            margin:10px auto;
        }

        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }

        img {
            width: 100%;
        }

        img.logo-right-image {
            width: 50%;
            margin-top: 6px;
        }

        tr.table-header td {
            padding: 30px 15px;
        }

        .personalInfo-table td, .personalInfo-table th {
            border: 1px #b7b7b7 solid;
            padding: 10px;
            text-align: left;
        }

        table.dear-blk td {
            padding: 16px;
        }

        table.personalInfo-table td {
            color: #ef4600;
            font-style: italic;
        }

        table.personalInfo-table th {
            color: #383838;
            font-style: italic;
            font-weight: bold;
        }

        table.personalInfo-table td a {
            color: #0041ff;
            text-decoration: none;
        }

        a.update-anchor {
            display: block;
            text-decoration: none;
            background: transparent;
            padding: 8px;
            border-radius: 2px;
            color: #404040;
            text-transform: uppercase;
            font-size: 12px;
            padding-top: 9px;
            border: 1px #1A98D3 solid;
            text-align: center;
        }

        .requestAcall-blk td {
            border: 1px #b7b7b7 solid;
        }

        table.requestAcall-blk td {
            padding: 20px;
            text-align: center;
            font-size: 11px;
            line-height: 20px;
            font-weight: bold;
            color: #1A98D3;
            text-transform: uppercase;
        }

        table.requestAcall-blk td a {
            text-decoration: none;
            color: #0041ff;
        }

        table.recruiters-table td {
            border: 1px #b7b7b7 solid;
            text-align: center;
            padding: 9px;
            font-size: 14px;
        }

        table.recruiters-table {
            background: #1A98D3;
            color: #fff;
            margin-top: 5px;
        }

        table.footer tr {
            color: #e3e3e3;
            font-size: 12px;
            /*font-style: italic;*/
        }
        table.footer tr a{
            color: #FFF;
        }


        table.footer tr td {
            padding: 9px;
            line-height: 17px;
            text-align: justify;
        }

        .job-detail-list h4, .job-detail-list p{
            margin: 0 0 0 0;
            line-height:20px;
        }
        .job-detail-list h4{
            color: #1899d3;
        }
        .job-detail-list tr td{
            padding: 0;
        }
        .apply-now-btn{
            border: none;
            color: #fff;
            padding: 8px 10px;
            background: #1A98D2;
            margin-bottom: 20px;
            width: 100%;
            text-decoration: none;
        }
        .view-more-link{
            color: #f2652a;
            text-decoration: none;
        }
        .view-more-link span{
            font-size: 8px;
        }
        .em-btn{
            display: block;
            float: left;
            margin-right: 10px;
            padding: 10px 15px;
            text-decoration: none;
            color: #FFF;
            text-transform: uppercase;
        }
        .em-visit-website-btn{
            background: #1a98d3;
        }
        .em-view-all-btn{
            background: #f2652a;
        }
    </style>

</head>

{#{% block header_right_image %}<img src="{{ absolute_url(asset('bundles/yarshamain/images/email/2.jpg')) }}">{% endblock %}#}

<body style="background: #1899d3; margin: 0; padding: 0;">

    <div class="em-wrapper">
        <table style="border:none; background: #FFF">
            <tbody>
            <tr class="table-header">
                <td style="text-align: left;">
                    <a href="{{ url('yarsha_frontend_homepage') }}">
                        <img src="{{ absolute_url(asset('bundles/yarshamain/images/email/logo.png')) }}"
                             style="width: auto;">
                    </a>
                </td>
                <td style="text-align: right; width: 20%">
                    <img src="{{ absolute_url(asset('bundles/yarshamain/images/email/2.jpg')) }}">
                </td>
            </tr>
            </tbody>
        </table>

        <table style="background:none; color: #FFF;">
            <tr>
                <td style="text-align: center;padding:2px;line-height:17px;font-size: 13px;font-style: normal;padding-top:4px;padding-bottom:5px;">
                    Please add this email jobalert@kantipurjob.com to your contact list to prevent future job alerts from
                    being directed to your jink/bulk folder
                </td>
            </tr>
        </table>

        <table class="dear-blk" style="background: #fff;color: #404040; line-height: 24px; font-weight: 100; ">
            <tr>
                <td style="">
                    Dear <strong>{{ name|title }}</strong>, <br>
                    Here are the recent jobs posted in Kantipur Job that you may be interested.
                </td>
            </tr>
            <tr>
                <td>
                    {% for job in jobs %}
                        <table class="job-detail-list" style="margin-bottom:20px; border-bottom: 1px solid #CCC">
                            <tr>
                                <td style="width: 80px">
                                    <img style="max-width: 80px" src="{{ organization_profile_image(job.organization)|imagine_filter('company_profile_pic_large') }}"/>
                                </td>
                                <td style="vertical-align: top; padding: 0 10px 0 10px;">
                                    <h4>{{ job.title|upper }}</h4>
                                    <p style="font-size:12px">{{ job.organization.name }} | {{ job.organization.address }}</p>
                                    <p style="font-size:14px">{{ trim_content(job.description) }}... <a href="#" class="view-more-link">view more <span>>></span></a></p>
                                </td>
                            </tr>
                            <tr style=" ">
                                <td colspan="2" style="font-size:10px; padding-bottom: 10px;">
                                    Education: {{ job.educationDegree ? job.educationDegree.name : '' }} | Experience: {{ job.minimumExperienceYear }} years | Position: {{ job.numberOfVacancies }}
                                    | Deadline: {{ job.deadline|date('M j, Y') }}
                                    <span style="float:right"><a href="{{ url('yarsha_frontend_job_detail_view', {'slug':job.slug}) }}" class="apply-now-btn">APPLY NOW</a></span>
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                </td>
            </tr>
        </table>

        <table style="background:#FFF">
            <tr>
                <td style="padding-bottom:20px;">
                    <div style="float: right">
                        <a href="{{ url('yarsha_frontend_jobs_search') }}" target="_blank" class="em-view-all-btn em-btn">View All</a>
                        <a href="{{ url('yarsha_frontend_homepage') }}" target="_blank" class="em-visit-website-btn em-btn">Visit Website</a>
                    </div>
                </td>
            </tr>
        </table>

        <table class="footer">
            <tr>
                <td>
                    <span style="color:#fff;">
                        <strong>Disclaimer:</strong></span>
                    {#You have received this mail because you are registered member on kantipurjob.com. #}
                    This is a system generated email, please dont reply to this
                    message. For <a href="{{ url('yarsha_frontend_terms') }}">Terms and Conditions</a> and other legal
                    disclaimers, please visit
                    kantipurjob.com. If you do not want to receive this mail, <a href="#">Unsubscribe.</a>
                </td>
            </tr>
        </table>



    </div>



</body>
</html>
