<ol class="breadcrumb">
    <li><a href="{{ path('yarsha_job_seeker_homepage') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    {% for breadcrumb in breadcrumbs %}
        {% set class = (loop.first ? 'home' : (loop.last ? 'current' : '')) %}
        <li {% for attr,value in breadcrumb.attributes -%}
              {%- if attr == 'class' %}{% set value = value ~ ' ' ~ class %}{% endif -%}
              {{ attr }}="{{ value }}"
            {%- endfor %}{% if breadcrumb.attributes.class is not defined %} class="{{ class }}"{% endif %}>
          {%- if breadcrumb.url is null or loop.last -%}
            {{ breadcrumb.title|trans }}
          {%- else -%}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.title|trans }}</a>
          {%- endif -%}
        </li>
    {% endfor %}
</ol>
