{% extends 'YarshaAdminBundle::admin_layout.html.twig' %}

{% block page_title %} Notice {% endblock %}
{% block page_description %} {{ updating?'Edit':'New' }} {% endblock %}
{% block content %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(form.title) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.description) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(form.status) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
