<ul class="sidebar-menu">
    <li>
        <a href="{{ path('yarsha_admin_dashboard') }}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="{{ path('yarsha_admin_category_list') }}">
            <i class="fa fa-sitemap"></i> <span>Job Categories</span>
        </a>
    </li>
    <li>
        <a href="{{ path('yarsha_admin_education_degree') }}">
            <i class="fa fa-graduation-cap"></i> <span>Education Degrees</span>
        </a>
    </li>
    <li>
        <a href="{{ path('yarsha_admin_organization_list') }}">
            <i class="fa fa-building"></i> <span>Employers</span>
        </a>
    </li>
    <li>
        <a href="{{ path('yarsha_admin_jobseeker_list') }}">
            <i class="fa fa-users"></i> <span>Employees</span>
        </a>
    </li>

    <li class="treeview">
        <a href="{{ path('yarsha_admin_job_list') }}">
            <i class="fa fa-tasks"></i> <span>Jobs List</span>
        </a>
    </li>

    {# <li>
        <a href="{{ path('yarsha_admin_account_managers_list') }}">
            <i class="fa fa-user-secret"></i> <span>Account Managers</span>
        </a>
    </li> #}

    <li>
        <a href="{{ path('yarsha_admin_country_list') }}">
            <i class="fa fa-globe"></i> <span>Country</span>
        </a>
    </li>

</ul>





