{{ form_start(form, {'attr':{'id':'addLanguage', 'onsubmit':'return submitLanguage(this)','data-id':id,'data-user':seeker}}) }}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div id="seekerLanguagesWrapper" data-prototype="{{ _self.renderAddLanguageForm(form.languages.vars.prototype) | e('html_attr') }}">
    {% for language in form.languages %}
        {{ _self.renderAddLanguageForm(language) }}
    {% endfor %}
</div>
<div class="modal-footer">
    <a href="#" id="addLanguageBtn" class="btn btn-primary pull-left">Add more</a>
    <input type="submit" class="btn btn-primary" value="SAVE">
    <button type="button" class="btn btn-danger" data-dismiss="modal">
        CANCEL
    </button>
</div>
{{ form_end(form) }}

<style>
    .modal-dialog{
        width: 80%;
    }
    .delete-language-btn{
        margin-top: 25px;
    }

</style>

<script>
    var languageLength = "{{ form.languages | length }}";
    var wrapper = $("#seekerLanguagesWrapper");
    if(languageLength <= 0){
        var newWidget = wrapper.attr('data-prototype');
        newWidget = newWidget.replace(/__name__/g, languageLength);
        wrapper.append(newWidget);
        languageLength++;
    }

    $('#addLanguageBtn').on('click', function(e){
        e.preventDefault();
        var newWidget = wrapper.attr('data-prototype');
        newWidget = newWidget.replace(/__name__/g, languageLength);
        wrapper.append(newWidget);
        languageLength++;

        $('.delete-language-btn').on('click', function(e){
            e.preventDefault();
            $(this).parent().parent().remove();
        });

    });

    $('.delete-language-btn').on('click', function(e){
        e.preventDefault();
        $(this).parent().parent().remove();
    });

</script>

{% macro renderAddLanguageForm(form) %}
    <div class="row">
        <div class="col-md-11">
            <div class="col-md-3">
                {{ form_row(form.language) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.reading) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.writing) }}
            </div>
            <div class="col-md-3">
                {{ form_row(form.speaking) }}
            </div>
        </div>
        <div class="col-md-1">
            <a href="#" class="btn btn-danger btn-xs delete-language-btn">Delete</a>
        </div>
    </div>
{% endmacro %}

