{% extends "@YarshaFrontend/frontend_static_layout.html.twig" %}


{% block static_content_title %} About Us{% endblock %}

{% block static_content %}

    <section class="inner-content-lead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="inner-lead">
                        <h1>WHO WE ARE</h1><br>
                        <p style="text-align:justify;"><span>Our Mission: “To assist organization and individuals to identify right skills and manage human resources to achieve business excellence”</span>
                            <br>
                            <br>
                            Kantipur Management Private Limited (KMPL) is an expertise on human resources solutions and
                            has been providing Human Resource Management and related solutions to organizations across
                            the country since 2012. The company is involved in committed to provide the best services to
                            clients and job seekers in different field and profession of varied diversity of candidates
                            from entry level associates, mid-level managers to first level managers.<br><br>

                            KMPL has a thorough knowledge and strong standing relationship with HR professionals in the
                            markets. With our exclusive dedication to the HR profession, we match the most qualified HR
                            professionals with the right companies. We are proud to say that HR people are both our
                            clients and our candidates, and we know them well.<br><br>

                            KMPL provides the client with a variety of recruitment options and allow to choose the right
                            staffing strategy for the company. Whether dealing with direct-hire, contract, or consulting
                            positions,Kantipur Management finds the appropriate candidates for each. When it comes to
                            placement, we work with our candidates to find the right fit based on their specific career
                            objectives. We know their mentors, career paths, strengths and development areas.<br><br>

                            Our services range from HR consulting, staff outsourcing, recruitment and selection
                            processes, training and development to business process outsourcing getting broader with the
                            market requirements each day.

                        </p>
                    </div><!-- end of inner lead-->
                </div><!-- end of col -->

                <div class="col-md-5">
                    <div class="profile-user-blk dashboard-bg-color">

                        <div class=" company-info-blk profile-user-blk-single trusted-blk">
                            <div class="title">
                                <h1>
                                    WE ARE TRUSTED</h1>

                                <!-- <div class="col-md-4 col-sm-4 right"><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Edit</a></div> -->

                            </div>
                            <div class=" bar-guide">
                                <ul class="bar-guide-blk-ul">
                                    <p>1. HR Consulting</p>
                                    <li>
                                        <div class="bar-guide-ind-blk" style="background: #5bc0de; width: 93%;">93%
                                        </div>
                                    </li>
                                    <p>2. Staffing Service</p>
                                    <li>
                                        <div class="bar-guide-ind-blk" style="background: #f2ae44; width: 97%;">97%
                                        </div>
                                    </li>
                                    <p>3. Recruitment and Selection Process</p>
                                    <li>
                                        <div class="bar-guide-ind-blk" style="background: #e91e63; width: 90%;">90%
                                        </div>
                                    </li>
                                    <p>4. E-recruitment and Job Portal</p>
                                    <li>
                                        <div class="bar-guide-ind-blk" style="background:  #4caf50; width: 89%;">89%
                                        </div>
                                    </li>
                                    <p>5. Sales, Distribution and Marketing</p>
                                    <li>
                                        <div class="bar-guide-ind-blk" style="background:#673ab7; width: 85%;">85%</div>
                                    </li>
                                    <p>6. Training and Development</p>
                                    <li>
                                        <div class="bar-guide-ind-blk" style="background: #5bc0de; width: 87%;">87%
                                        </div>
                                    </li>
                                    <p>7. Business Process Outsourcing</p>
                                    <li>
                                        <div class="bar-guide-ind-blk" style="background: #4caf50; width: 91%;">91%
                                        </div>
                                    </li>
                                </ul>


                            </div>
                        </div>

                        <div class="bar-blk-rating">
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>

                            <p>We value your ratings: </p>
                            <div class="clear-fix"></div>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <p class="rating-flt"><span class="orange">4.7</span>/5.0</p>
                            <a href="#">Rate Us Now</a>
                            <div class="clearfix"></div>
                        </div><!-- end of bar-blk-rating -->
                    </div>
                </div><!-- end of col -->
            </div><!-- end of row -->

        </div><!-- end of container -->
    </section><!-- end of inner-content-lead -->



    <!-- inner pages content -->
    <section class="inner-pages-cnt">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 inner-pages-cnt-title">REVIEWS</div>
                <ul class="nav nav-tabs innerpages-mdl-tab abt-us-tab-blk">
                    <li class="active"><a data-toggle="tab" href="#home">Consultants</a></li>
                    <li><a data-toggle="tab" href="#menu1">Job seekers</a></li>
                    <li><a data-toggle="tab" href="#menu2">Our Staffs</a></li>
                </ul>
                <div class="container">
                    <div class="tab-content">

                        <div id="home" class="tab-pane fade active in">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Bidur_Dhungana.jpg') }}"
                                                         alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>Working with kantipurjob.com as a legal consultant. I always feel
                                                        they bring a pragmatic and real life perspective to their
                                                        solutions. They have enough knowledge of HR consulting and BPO
                                                        services.</p>
                                                    <p class="dark">Mr. Bidur Dhungana </p>
                                                    <p>Legal Consultant</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->
                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                                <div class="col-md-3 ">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Saroj_Khanal.jpg') }}" alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>Kantipurjob.com really provides the full package of HR services.
                                                        Having identified various skills gaps within the organizations.
                                                        I met some organizations, already working with
                                                        kantipurjob.com.</p>
                                                    <p class="dark">Mr. Saroj Khanal</p>
                                                    <p>Marketing Consultant</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                                <div class="col-md-3">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Pramod_Acharya.jpg') }}"
                                                         alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>Kantipurjob.com has customized and professional services to add
                                                        strength to the HR department with better IQ, Core expertise and
                                                        emotional intelligence. Major university and HR unveil this
                                                        fact.</p>
                                                    <p class="dark">Mr. Pramod Acharya</p>
                                                    <p>HR Consultant</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                                <div class="col-md-3 ">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Raman_Nepali.jpg') }}" alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>The programme ran by kantpurjob.com "has helped the participants
                                                        realize their potentiality quickly and many of them reached
                                                        senior levels of position in different organizations. Yes! You
                                                        can.</p>
                                                    <p class="dark">Mr. Raman Nepali</p>
                                                    <p>Training Consultant</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                            </div><!-- end of row -->

                        </div>

                        <div id="menu1" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Pemba_Shrepa.jpg') }}" alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>Thank you kantipurjob.com for giving me the best opprotunity to
                                                        find the right JOB, The right information and guidance always
                                                        helped me to enjoy this opportunity.</p>
                                                    <p class="dark">Mr. Pemba Sherpa</p>
                                                    <p>Jobseeker</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->
                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                                <div class="col-md-3 ">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Ramesh_Rana.jpg') }}" alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>Kantipurjob.com is the best platform to find the right job. I
                                                        have applied through several jobsite but the it is wway better
                                                        that helped reach my career. </p>
                                                    <p class="dark">Mr. Ramesh Rana</p>
                                                    <p>Jobseeker</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                                <div class="col-md-3">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/sajana_maharjan.jpg') }}"
                                                         alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>Kantipurjob.com is extremly user friendly, easy to use, quick and
                                                        most importantly an usefull resource. I had a chance to recieve
                                                        such a quick customer service.</p>
                                                    <p class="dark">Ms. Sajana Maharjan</p>
                                                    <p>Jobseeker</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                                <div class="col-md-3 ">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Mansha_Basnet.jpg') }}" alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>Kantipurjob.com didn't change a thing on my resume. Straight
                                                        shooter form contact to contact. One candidate, one client, one
                                                        offer, that's it 'one and done'.</p>
                                                    <p class="dark">Ms. Mansha Basnet</p>
                                                    <p>Jobseeker</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                            </div><!-- end of row -->

                        </div>

                        <div id="menu2" class="tab-pane fade">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Gaurav_Gurung.jpg') }}" alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>I like what I do at kantipurjob.com, solving problems and helping
                                                        to ensure our customers are satisfied. I enjoy all the people I
                                                        work with and I like that I learn something new every new
                                                        day.</p>
                                                    <p class="dark">Mr. Gaurab Kr Gurung</p>
                                                    <p>Customer Care Officer</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->
                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                                <div class="col-md-3 ">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Tilak_Basnet.jpg') }}" alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>I work with sucha great group of people tha tit makes it fun to
                                                        come to work every day. I also enjoy the challenge of new
                                                        products and programs with great benefits.</p>
                                                    <p class="dark">Mr. Tilak Basnet</p>
                                                    <p>Outsourcing Head</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                                <div class="col-md-3">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Bipana_Shakya.jpg') }}" alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>Kantipur Job has a very friendly working environment . All staffs
                                                        are very friendly and taking care of everybody. I feel so proud
                                                        to be a member of kantipurjob.com. Thank you!</p>
                                                    <p class="dark">Ms. Bipana Shakya</p>
                                                    <p>Front Desk Executive</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                                <div class="col-md-3 ">
                                    <div class="border">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-image">
                                                    <img src="{{ asset('static/aboutus/Buddha_Man_Nepali.jpg') }}"
                                                         alt="#"/>
                                                    <div class="tab-icon">
                                                        <img src="{{ asset('static/images/tab-icon.png') }}   "
                                                             alt="#"/>
                                                    </div><!-- end of tab-icon -->

                                                </div><!-- end of tab-image -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tab-lead">
                                                    <p>At kantipurjob.com, We work collaboratively to make sure you find
                                                        your career using our fast, secure and comfortable job portal
                                                        keeping your information safe in every possible way.</p>
                                                    <p class="dark">Mr. Buddha Man Nepali</p>
                                                    <p>IT Executive Officer</p>
                                                </div><!-- end of tab-lead -->
                                            </div><!-- end of col -->
                                        </div><!-- end of row -->
                                    </div><!-- end of border -->
                                </div><!-- end of col -->
                            </div><!-- end of row -->
                        </div>
                    </div>
                </div><!-- end of conteiner -->

            </div>
        </div>
    </section>


{% endblock %}
