{% extends "@YarshaFrontend/frontend_static_layout.html.twig" %}


{% block static_content_title %} Career Resources{% endblock %}

{% block static_short_content %}

    <section class="bg-title-wrap">
        <div class="container">
            <div class="row">
                <h1>your platform <span>to redefine future</span></h1>
                <p>Kantipur Management Private Limited (KMPL) is an expertise on human resources solutions and has been
                    providing Human Resource Management and related solutions to organizations across the country.</p>
            </div>
        </div>
    </section>
{% endblock %}


{% block static_content %}


    <section class="inner-pages-cnt">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 carrer-blk">
                    <div class="row">
                        <div class="col-md-4 col-sm-4"><img src="{{ asset('static/images/icon3.jpg') }}"></div>
                        <div class="col-md-8 col-sm-8">
                            <h1>DO YOU REALLY KNOW YOUR STRENGTHS?</h1>
                            <p>Kantipur Management Private Limited (KMPL) is an expertise on human resources
                                solutions... <span><a href="#">> More..</a></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 carrer-blk">
                    <div class="row">
                        <div class="col-md-4 col-sm-4"><img src="{{ asset('static/images/icon4.jpg') }}"></div>
                        <div class="col-md-8 col-sm-8">
                            <h1>DO YOU REALLY KNOW YOUR STRENGTHS?</h1>
                            <p>Kantipur Management Private Limited (KMPL) is an expertise on human resources
                                solutions... <span><a href="#">> More..</a></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 carrer-blk">
                    <div class="row">
                        <div class="col-md-4 col-sm-4"><img src="{{ asset('static/images/icon5.jpg') }}"></div>
                        <div class="col-md-8 col-sm-8">
                            <h1>DO YOU REALLY KNOW YOUR STRENGTHS?</h1>
                            <p>Kantipur Management Private Limited (KMPL) is an expertise on human resources
                                solutions... <span><a href="#">> More..</a></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 carrer-blk">
                    <div class="row">
                        <div class="col-md-4 col-sm-4"><img src="{{ asset('static/images/icon6.jpg') }}"></div>
                        <div class="col-md-8 col-sm-8">
                            <h1>DO YOU REALLY KNOW YOUR STRENGTHS?</h1>
                            <p>Kantipur Management Private Limited (KMPL) is an expertise on human resources
                                solutions... <span><a href="#">> More..</a></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 carrer-blk">
                    <div class="row">
                        <div class="col-md-4 col-sm-4"><img src="{{ asset('static/images/icon7.jpg') }}"></div>
                        <div class="col-md-8 col-sm-8">
                            <h1>DO YOU REALLY KNOW YOUR STRENGTHS?</h1>
                            <p>Kantipur Management Private Limited (KMPL) is an expertise on human resources
                                solutions... <span><a href="#">> More..</a></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 carrer-blk">
                    <div class="row">
                        <div class="col-md-4 col-sm-4"><img src="{{ asset('static/images/icon8.jpg') }}"></div>
                        <div class="col-md-8 col-sm-8">
                            <h1>DO YOU REALLY KNOW YOUR STRENGTHS?</h1>
                            <p>Kantipur Management Private Limited (KMPL) is an expertise on human resources
                                solutions...
                                <span><a href="#">> More..</a></span></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>





{% endblock %}
