<div class="col-md-4">
    <div class="col-md-12 info-head bg-green">
        <span class="info-number">{{ count.total_jobs }}</span> &nbsp; Jobs
    </div>
    <div class="col-md-12 info-body">
        <p><i class="fa fa-check"></i> Approved : {{ count.approved }} </p>
        <p><i class="fa fa-repeat"></i> Pending : {{ count.pending }} </p>
        <p><i class="fa fa-ban"></i> Disabled : {{ count.disabled }} </p>
        <p><i class="fa fa-trash"></i> Deleted : {{ count.deleted }} </p>
    </div>
</div>

