{% extends 'YarshaEmployerBundle::employer_layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/yarshamain/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/yarshamain/datepicker/datepicker3.css') }}">
    <style>
        #yarsha_jobsbundle_job_settings .form-group {
            display: inline-block;
        }

        .hidden-form-field {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    {% form_theme form "bootstrap_3_layout.html.twig" %}
    <style>
        .cked {
            margin-bottom: 15px;
        }

        .table-listing-page-wrap input[type="radio"]:first-child, .table-listing-page-wrap input[type="checkbox"]:first-child {
            margin-left: -18px;
        }

        .showLabel label.control-label {
            display: block !important;
            font-weight: 400;
        }

        .showLabel .form-control {
            font-weight: 100;
        }

    </style>

    <div class="company-info-blk posted-jobs-blk dashboard-bg-color clearfix">
        <div class="title">
            <div class="row">
                <div class="col-md-12 col-sm-12">Add Job</div>
            </div>
        </div>

        <div class="table-listing-page-wrap showLabel">
            <div class="row">
                {{ form_start(form) }}
                <div class="col-md-12 text-right">
                    <cite class="text-success">
                        <strong>*Note : </strong> Leave blank or 0 on preferred age for no age bar.
                    </cite>
                </div>
                <br> <br>
                <div class="col-md-6 col-sm-6">{{ form_row(form.title) }}</div>
                <div class="col-md-3 col-sm-3">{{ form_row(form.vacancyCode) }}</div>
                <div class="col-md-3 col-sm-3">{{ form_row(form.numberOfVacancies) }}</div>
                <div class="clearfix"></div>


                <div class="col-md-3 col-sm-3">{{ form_row(form.type) }}</div>
                <div class="col-md-3 col-sm-3">{{ form_row(form.availability) }}</div>
                <div class="col-md-3 col-sm-3">{{ form_row(form.category) }}</div>
                {#<div class="col-md-3 col-sm-3">{{ form_row(form.level) }}</div>#}
                <div class="clearfix"></div>


                <div class="col-md-3 col-sm-3">{{ form_row(form.preferredGender) }}</div>
                <div class="col-md-3 col-sm-3">{{ form_row(form.minimumAge) }}</div>
                <div class="col-md-3 col-sm-3">{{ form_row(form.maximumAge) }}</div>
                <div class="col-md-3 col-sm-3">{{ form_row(form.deadline) }}</div>
                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-4">{{ form_row(form.educationDegree) }}</div>
                <div class="col-md-4 col-sm-4">{{ form_row(form.minimumExperienceYear) }}</div>
                <div class="col-md-4 col-sm-4">{{ form_row(form.maximumExperienceYear) }}</div>
                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-4">{{ form_row(form.salaryType) }}</div>
                <div class="col-md-8 salary-section-wrap">
                    <div class="col-md-3 col-sm-2 payment-basis hidden-form-field">{{ form_row(form.salaryPaymentBasis) }}</div>
                    <div class="col-md-9 col-sm-6 job-salary hidden-form-field">{{ form_row(form.salary) }}</div>
                    {#<div class="col-md-4 col-sm-4">{{ form_row(form.salaryNegotiable) }}</div>#}
                    <div class="col-md-9 job-salary-range hidden-form-field">
                        <div class="col-md-6 col-sm-6">{{ form_row(form.minimumSalary) }}</div>
                        <div class="col-md-6 col-sm-6">{{ form_row(form.maximumSalary) }}</div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12 col-sm-12">{{ form_row(form.locations) }}</div>
                <div class="clearfix"></div>


                <div class="col-md-12 col-sm-12 cked">{{ form_row(form.description) }}</div>
                <div class="col-md-12 col-sm-12 cked">{{ form_row(form.specification) }}</div>
                <div class="col-md-12 col-sm-12 cked">{{ form_row(form.educationDescription) }}</div>
                <div class="col-md-12 col-sm-12 cked">{{ form_row(form.specificRequirement) }}</div>
                <div class="clearfix"></div>


                <div class="col-md-12 col-sm-12">
                    {% set organization = app.user.organization %}
                    {% if organization %}
                        {% set contactPerson =  organization.contactPersons | first %}
                    {% else %}
                        {% set contactPerson =  '' %}
                    {% endif %}
                    {{ form_label(form.settings) }}

                    <div class="col-md-3 col-sm-3">{{ form_row(form.settings.applyOnline) }}</div>
                    <div class="col-md-9 col-sm-9">
                        <div class="online-link hidden-form-field">{{ form_row(form.onlineLink) }}</div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-3 col-sm-3">
                        {{ form_row(form.settings.applyEmail) }}
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <br>
                        <span class="contact-email hidden-form-field">
                            <strong>Email:</strong>{{ contactPerson =='' ? 'No Contact Person' : contactPerson.email }}
                        </span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-3 col-sm-3">
                        {{ form_row(form.settings.applyPost) }}
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="postal-address hidden-form-field">{{ form_row(form.postalAddress) }}</div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-3 col-sm-3" style="display:none">
                        {{ form_row(form.settings.uploadDocument) }}
                    </div>

                </div>

                <div class="col-md-2 col-sm-2">
                    <input type="submit" value="Save">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('bundles/yarshamain/select2/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/yarshamain/datepicker/bootstrap-datepicker.js') }}"></script>
    <script>
        $('.select2').select2({});
        $('.js-datepicker').attr('type', 'text').datepicker({
            format: 'yyyy-mm-dd'
        });

        var offeredSalaryType = $('.jobs-salary-type');

        offeredSalaryType.on('change', function () {
            var selectedVal = $(this).val();
            var salarySectionWrap = $('.salary-section-wrap');

            salarySectionWrap.removeClass('hidden-form-field')
            salarySection = $('.job-salary');
            salaryRange = $('.job-salary-range');
            paymentBasis = $('.payment-basis');

            if (selectedVal == 'fixed' || selectedVal == 'range') {
                paymentBasis.removeClass('hidden-form-field');
            }

            if (selectedVal == 'fixed') {
                salarySection.removeClass('hidden-form-field');
                salaryRange.addClass('hidden-form-field');
            } else if (selectedVal == 'range') {
                salarySection.addClass('hidden-form-field');
                salaryRange.removeClass('hidden-form-field');

            } else {
                salarySectionWrap.addClass('hidden-form-field')
            }
        });

        offeredSalaryType.trigger('change');
        var applyJobOnline = $('.apply-job-online');
        var applyJobEmail = $('.apply-job-email');
        var applyJobPost = $('.apply-job-post');

        applyJobOnline.on('change', function () {
            var onlineLink = $('.online-link');

            ( $(this).is(':checked') )
                    ? onlineLink.removeClass('hidden-form-field')
                    : onlineLink.addClass('hidden-form-field');
        });

        applyJobOnline.trigger('change');

        applyJobEmail.on('change', function () {
            var contactEmailObj = $('.contact-email');

            ( $(this).is(':checked') )
                    ? contactEmailObj.removeClass('hidden-form-field')
                    : contactEmailObj.addClass('hidden-form-field');
        });

        applyJobEmail.trigger('change');

        applyJobPost.on('change', function () {
            var postalAddress = $('.postal-address');

            ( $(this).is(':checked') )
                    ? postalAddress.removeClass('hidden-form-field')
                    : postalAddress.addClass('hidden-form-field');
        });

        applyJobPost.trigger('change');

    </script>
{% endblock %}
