{% extends "YarshaAdminBundle::admin_layout.html.twig" %}

{% block page_title %}Account Manager{% endblock %}

{% block page_description %}{{ is_updating ? 'Edit' : 'New' }}{% endblock %}


{% block content %}

    {% form_theme form "bootstrap_3_layout.html.twig" %}

    {{ form_start(form) }}

    <div class="row">
        {% set panelWidth = (is_updating == true) ? 'col-md-12' : 'col-md-8' %}
        <div class="{{ panelWidth }}">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Personal Information</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">{{ form_row(form.designation) }}</div>
                        <div class="col-md-12">{{ form_row(form.name) }}</div>
                        <div class="col-md-6">{{ form_row(form.contactEmail) }}</div>
                        <div class="col-md-6">{{ form_row(form.address) }}</div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">{{ form_row(form.phone) }}</div>
                        <div class="col-md-6">{{ form_row(form.mobile) }}</div>

                        <div class="col-md-12">
                            {% if manager.photo != null %}
                                <img src="{{ asset('uploads/users/' ~ manager.photo) }}" alt="{{ manager.photo }}"
                                     width="50">
                            {% endif %}
                            {{ form_row(form.file) }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        {% if is_updating == false %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h4 class="panel-title">Login Information</h4></div>
                    <div class="panel-body">
                        <div class="col-md-12">{{ form_row(form.username) }}</div>
                        <div class="col-md-12">{{ form_row(form.password) }}</div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" value="SAVE">
                        <a href="{{ path('yarsha_admin_account_managers_list') }}" class="btn btn-danger">CANCEL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}



{% endblock %}
