{% import "@YarshaFrontend/Macros/job_detail_macros.html.twig" as jobDetailMacro %}

<!-- dashboard wrap section -->
<section class="dashboard-section">
    <div class="container">


        <div class="row"> {{ jobDetailMacro.jobDetailFullBanner(organization) }} </div>

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-9 col-sm-9 dashboard-section-right">

                <div class="company-info-blk dashboard-bg-color clearfix">
                    <div class="title">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">about us</div>
                        </div>
                    </div>
                    <p>{{ job.organization ? filterProfile(organization.profile)|raw : '' }}</p>
                </div>

                {% include "@YarshaFrontend/job/job_description_section.html.twig" %}


                {{ sonata_block_render({'type':'yarsha.block.relatedjobs'},{'job':job}) }}


            </div>

            <div class="col-md-3 col-sm-3 dashboard-section-left">

                {{ jobDetailMacro.aboutCompany(organization) }}


                {{ sonata_block_render({"type":"yarsha.block.employer_sidebar"},{"organization": organization,"job":job }) }}

            </div>

        </div>
    </div>
</section>
